.wrapper {
  width: 100%;
  overflow-x: hidden;

  .header {
    width: 100%;
    height: 10vh;
    background-color: rgb(81, 92, 243);
  }

  .main {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: rgb(185, 195, 241);
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    .left {
      width: 100%;
      height: 90vh;
      background-color: rgb(151, 151, 240);
    }
    .middle {
      width: 100%;
      height: 90vh;
      background-color: rgb(200, 208, 245);
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .card {
        width: 80%;
        border: 1px solid blue;
        border-radius: 15px;
        margin-left: 10%;
        margin-top: 10px;
        overflow: hidden;
        background-color: white;
        &:first-of-type {
          margin-top: 10px;
        }
        &:last-of-type {
          margin-bottom: 10px;
        }
        .card__top {
          display: grid;
          width: 100%;
          grid-template-columns: 2fr 10fr 1fr;
          img {
            margin-left: 20px;
            margin-top: 5px;
            width: 50px;
           height: 50px;
          }
          .info {
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .block {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr;
            .name {
              width: 100%;
              padding-top: 5px;
            }
            .time {
              width: 100%;
              padding-top: 5px;
            }
          }
        }
        .card__middle {
          width: 100%;
          display: inline-block;
          p {
            font-size: 20px;
            padding: 10px 15px;
          }

          .pictures {
            display: inline-block;
          width: 100%;

            img {
              display: inline-block;
              width: 100%;
              height: 100%;
            }
            
            
          }
          hr {
            height: 1px;
            background-color: black;
            margin: 0px 20px 0px 20px;
          }
          .block {
            display: grid;
            grid-template-columns: 1fr 1fr;
            width: 100%;
            height: 50px;

            .like,
            .comments {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .card__footer {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 8fr 4fr;

          img {
            margin-left: 20px;
            margin-top: 10px;
            width: 35px;
            height: 35px;
          }
          textarea {
            resize: none;
            border: 1px solid black;
            border-radius: 15px;
            margin: 10px;
            &::-webkit-scrollbar {
              display: none;
            }
          }
          .icon__block {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    .right {
      width: 100%;
      height: 90vh;
      background-color: rgb(151, 151, 240);
    }
  }
}

